* {
    box-sizing: border-box;
}
body { 
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

/* BARRA NAVEGADORA inicio*/
.nav-bar {
    width: 70%;
    height: auto;
    margin: auto; 
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.menu-sec ul{
    list-style: none;
    margin:0px;
    padding: 0px;
   }

   .menu-sec li{
    display: inline;
    margin: 5px;
   }

.logo-lafe {
    width: 250px;
    height: auto;
    margin-bottom: 0px;

}
.logo-carrito a, .logo-registrarse a, .burger-menu {
    color: white;
}

.nav-search input {
    width: 110%;
    height: 1rem;
    padding: 1px;
    border-radius: 25px;
    border: 1px solid  #EB0000;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 13px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
/* BARRA NAVEGADORA Fin*/

/* HERO SLIDER */

.hero {
    width: 100%;
    margin: 0px;
    padding: 0;
    overflow: hidden;/*oculta exedente de las imagenes del slider*/
}

.hero ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 300%;
    animation: move-slider 13s infinite;
    animation-direction:alternate;
    animation-timing-function: ease;
}

.hero ul li {
    margin: 0;
    padding: 0;
    width: 100%;
}

.hero ul li img {
    margin: 0;
    padding: 0;
    width: 100%;
}

@keyframes move-slider{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    40% {margin-left: -100%;}
    60% {margin-left: -100%;}

    80% {margin-left: -200%;}
    100% {margin-left: -200%;}
}

/* detalle producto*/
.container_product h2 {
font-size: 30px;
}

.container_product h3 {
    font-size: 24px;
    }

.container_product p {
    font-size: 18px;
    }    

.container_product {
    width: 70%;
    height: auto;
    margin: auto;
    /* background-color: #EB0000; */
    display: flex;
    margin-bottom: 200px;
};

.product-img {
    width: 50%;
    height: 500px;
    background-color: hotpink;
    background-size: cover;
}
.container-detail {
    width: 45%;
    height: auto;
    padding-left: 30px;
}
.title-product {
    font-size: 35px;
    color: white;
    margin-top: 0px;
    margin-bottom: 2px;
}

.price-product {
    font-size:30px;
    color: white;
    margin-bottom: 2px;
    margin-top: 10px;
}

.description-product {
    width:100%;
    font-size: 12px;
    color: white;
    margin-bottom: 20px;
}

.container-buttons {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.compare {
    padding: 5px;
    background-color: #EB0000;
    border: none;
    border-radius: 25px;
    width: 8rem;
    height: 2rem;
}
.add-cart {
    padding: 5px;
    background-color: #EB0000;
    border: none;
    border-radius: 25px;
    width: 12rem;
    height: 2rem;
}

/* _FIN detalle producto_*/

/* FOOTER */
.footer {
    background-color: rgb(54, 54, 54);
    margin-bottom: 0px;
    color: white;
    width: 100%;
    height: 150px;
    padding: 30px 30px;
    font-size: 18px;
}
.pie {
    display: flex;
    justify-content: space-around;
}
.contacto {
    width: 700px;
}
a {
    text-decoration: none;
    color: white;
}
.rrss {
    width: 150px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.Legales {
    font-size: 11px;
    text-align: center;
    margin-top: 40px;
}

/* FOOTER fin */

@media ( min-width: 768px) {
    .logo-lafe {
        margin-bottom: 0px;
}
.nav-search input {margin-bottom: 0px;}
}
@media ( min-width: 1366px) {
    .logo-lafe {margin-bottom: 0px;}
}