<footer>
    <div class="footer">   
        <div class="pie">
            <span class="contacto">Consulte el precio de nuestros productos, de lunes a sábados de 9 a 21hs y los domingos de 10 a 19hs al 0800-111-3322 o al <a href="">mail info@lafe.com.ar</a></span>
            <div class="rrss">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="Legales">
            <p> (Ley 4435 GCBA). Copyright© Lafe - Herramientas 2002, Buenos Aires, Argentina.</p>
        </div>
    </div> 
    </footer>