<!--COMIENZO HEADER-->
<header>
    <!--NAVEGADOR-->
    <div class="nav-bar">
        <div class="logo-lafe">
            <img src="../img/lafe-logo.svg" alt="">
        </div>

        <div class="menu-sec">
            <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Registro</a></li>
                <li><a href="">Alta de producto</a></li>
                <li><a href="">Editar Producto</a></li>
                <li><a href="">Error 404</a></li>
            </ul>
        </div>
    </div>
    <!--FIN NAVEGADOR-->

    <!--BAnner de header o hero-->
    <div class="hero">
        <img class="hero-img" src="" alt="LAFE">
    </div>
    <!--Fin BAnner de header o hero-->
</header>
<!--FIN HEADER-->

<!--BAnner de header o hero-->
<div class="hero">
    <img class="hero-img" src="/img/img2b.jpg" alt="LAFE">
</div>
<!--FIN BAnner de header o hero-->
</header>