<!--COMIENZO HEADER-->
<header>
    <!--NAVEGADOR-->
    <div class="nav-bar">
        <div class="logo-lafe">
            <img src="../img/lafe-logo.svg" alt="">
            <a href="/"></a>
        </div>

        <div class="menu-sec">
            <ul>
                <li><a href="/login/enter">Login</a></li>
                <li><a href="/users/create">Registro</a></li>
                <li><a href="/product/create">Alta de producto</a></li>
                <li><a href="/views/productDetail">Editar Producto</a></li>
                <li><a href="/views/error404">Error 404</a></li>
            </ul>
        </div>
    </div>
    <!--FIN NAVEGADOR-->
</header>
<!--FIN HEADER-->

<!--BAnner de header o hero-->
<div class="hero">
    <ul>
        <li><img class="hero-img" src="/img/img1a.jpg" alt="LAFE"></li>
        <li><img class="hero-img" src="/img/img1b.jpg" alt="LAFE"></li>
        <li><img class="hero-img" src="/img/img1c.jpg" alt="LAFE"></li>
    </ul>
</div>
<!--FIN BAnner de header o hero-->
</header>