<!--COMIENZO HEADER-->
<header>
    <!--NAVEGADOR-->
    <div class="nav-bar">
        <div class="logo-lafe">
            <img src="../img/lafe-logo.svg" alt="">
        </div>

        <div class="menu-sec">
            <ul>
                <li><a href="/Views/userLogin">Login</a></li>
                <li><a href="/Views/register">Registro</a></li>
                <li><a href="/views/addProduct">Alta de producto</a></li>
                <li><a href="/views/productDetail">Editar Producto</a></li>
                <li><a href="/views/error404">Error 404</a></li>
            </ul>
        </div>
    </div>
    <!--FIN NAVEGADOR-->
</header>
<!--FIN HEADER-->

<!--BAnner de header o hero-->
<div class="hero">
    <img class="hero-img" src="/img/img1a.jpg" alt="LAFE">
</div>
<!--FIN BAnner de header o hero-->
</header>