 <!--COMIENZO HEADER-->
 <header>
    <!--NAVEGADOR-->
    <div class="nav-bar">
        <div class="logo-lafe">
            <img src="../img/lafe-logo.svg" alt="">
        </div>
        <form class="nav-search" action="#" method="GET" role="search" abineguid="6D081E5A6F734D5392BBC87CD6EB39A2">
            <input value="" type="text" class="nav-search-input" name="as_word" max-length="120" autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off" tabindex="3" aria-label="Ingresá lo que quieras encontrar" placeholder="Buscar productos, marcas y más…">
        </form>
    <div class="menu-sec">
        <div class="logo-carrito"> 
        <a href="#"><i class="fas fa-cart-arrow-down"></i></a>
        </div>
        <div class="logo-registrarse"> 
            <a href="#"><i class="fas fa-users"></i></a>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </div>
    </div>
    <!--FIN NAVEGADOR-->

    <!--BAnner de header o hero-->
    <div class="hero">
        <img class="hero-img" src="" alt="LAFE">
    </div>
    <!--Fin BAnner de header o hero-->
    </header> 
<!--FIN HEADER-->

<!--BAnner de header o hero-->
<div class="hero">
    <img class="hero-img" src="/img/img2b.jpg" alt="LAFE">
</div>
<!--FIN BAnner de header o hero-->
</header> 