<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercadoliebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <div class="logo-lafe">
            <img src="" alt="">
        </div>
        <div class="barra-de-busqueda">
            <input type="text" placeholder="Buscar productos, marcas y más...">   
        </div>
        <div class="logo-carrito"> 
        <a href="#"><i class=""></i></a>
        </div>
        <div class="logo-registrarse"> 
            <a href="#"><i class=""></i></a>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <section class="rubros">
        <article>
            <img src="" alt="">
            <div class="main-rubro">
                <h3>Rubro 1</h3>
            </div>
        </article>
        <article>
            <img src="" alt="">
            <div class="main-rubro">
                <h3>Rubro 2</h3>
            </div>
        </article>
        <article>
            <img src="" alt="">
            <div class="main-rubro">
                <h3>Rubro 3</h3>
            </div>
        </article>
        <article>
            <img src="" alt="">
            <div class="main-rubro">
                <h3>Rubro 4</h3>
            </div>
        </article>
    </section>

    <section class="servicios">
        <div class="services">
            <article>
                <img src="" alt="">
                <div class="main-title">
                    <h4 class="title">Título Servicio 1</h4>
                    <p class="description">Descrpción del Servicio</p>
                    <button type="submit">+ Info</button>
                </div>
            </article>
            <article>
                <img src="" alt="">
                <div class="main-title">
                    <h4 class="title">Título Servicio 2</h4>
                    <p class="description">Descrpción del Servicio</p>
                    <button type="submit">+ Info</button>
                </div>
            </article>
            <article>
                <img src="" alt="">
                <div class="main-title">
                    <h4 class="title">Título Servicio 3</h4>
                    <p class="description">Descrpción del Servicio</p>
                    <button type="submit">+ Info</button>
                </div>
            </article>
            <article>
                <img src="" alt="">
                <div class="main-title">
                    <h4 class="title">Título Servicio 4</h4>
                    <p class="description">Descrpción del Servicio</p>
                    <button type="submit">+ Info</button>
                </div>
            </article>
        </div>
    </section>

    <section class="nac-pop">
        <h2> Prdouctos nac&pop</h2>
        <div class="productos-nacionales">
            <article class="">
                <img src="" alt="">
                <div class="button-last-section">
                    <button type="submit">button +</button>
                </div>
            </article>
            <article>
                <img src="" alt="">
                <div class="button-last-section">
                    <button type="submit">button +</button>
                </div>
            </article>
            <article>
                <img src="" alt="">
                <div class="button-last-section">
                    <button type="submit">button +</button>
                </div>
            </article>
            <article>
                <img src="" alt="">
                <div class="button-last-section">
                    <button type="submit">button +</button>
                </div>
            </article>
        </div>
    </section>
    <footer>
        <div class="pie">
            <article class="texto-pie">
                <p>dato del contacto 1</p>
            </article>
            <article class="texto-pie">
                <p>dato del contacto 2</p>
            </article>
            <article class="texto-pie">
                <p>Textos legales</p>
            </article>
            <article class="iconos-pie">
                <a href="#"><i class=""></i></a>
            </article>
            <article class="iconos-pie">
                <a href="#"><i class=""></i></a>
            </article>
        </div>
    </footer>
</body>