<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!--ENLACE A FONTAWESOME-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        
            <!--ENLACE A GOOGLE FONT-->
            <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap" rel="stylesheet">
        
            <!--ENLACE A HOJA DE ESTILO-->
            <link rel="stylesheet" href="../../css/styles-productCreate.css">
            <!-- <link rel="stylesheet" href="css/normalize.css"> -->
​
        <title>Agregar Producto</title>
    </head>
<body>
    
    <!--HEADER PRINCIPAL-->
    <header>
        <div class="logo">
        </div>
</header>
​
    <!--FORMULARIO-->
    <div class="container-form">
        <form class="formulario" action="/product/create" method="POST">
            <div class="control-form">
                <label></label>
                <input type="text" name="product" class="control" placeholder="Nombre del producto">
            </div>
            <div class="control-form">
                <label></label>
                <input type="text" name="brand" class="control" placeholder="Marca">
            </div>
            <div class="control-form">
                <label></label>
                <input type="text" name="price" class="control" placeholder="Precio">
            </div>
            <div class="control-form">
                <label class="categoria"></label>
                <select class="selector" name="category">
                    <option value="">elija una categoria</option>
                    <option value="plomeria">Plomeria</option>
                    <option value="electronica">Electronica</option>
                    <option value="carpinteria">Carpintería</option>
                    <option value="Construcción">Construcción</option>
                </select>
            </div>
            <div class="control-form">
                <label></label>
                <textarea  class="description" name="Descripcion" class="control" placeholder="Descripción"></textarea>
            </div>
    ​
            <div class="control-form">
                <button class="control-button" type="submit"> Agregar Producto </button>
                <button class="control-button" type="reset"> Cancelar </button>
            </div>
        </form>

    </div>
    
</body>
</html> 