<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--ENLACE A FONTAWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
    <!--ENLACE A GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap" rel="stylesheet">

    <!--ENLACE A HOJA DE ESTILO-->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    
    <title>🔧 LAFE - Herramientas 🔧</title>
</head>
<body>
    <header>
    <!--NAVEGADOR-->
    <div class="nav-bar">
        <div class="logo-lafe">
            <img src="" alt="">
        </div>
        <form class="nav-search" action="#" method="GET" role="search" abineguid="6D081E5A6F734D5392BBC87CD6EB39A2">
            <input value="" type="text" class="nav-search-input" name="as_word" max-length="120" autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off" tabindex="3" aria-label="Ingresá lo que quieras encontrar" placeholder="Buscar productos, marcas y más…">
        </form>
        <div class="logo-carrito"> 
        <a href="#"><i class="fas fa-cart-arrow-down"></i></a>
        </div>
        <div class="logo-registrarse"> 
            <a href="#"><i class="fas fa-users"></i></a>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </div>
    <!--BAnner de header o hero-->
    <div class="hero">
        <img class="hero-img" src="/img/img2b.jpg" alt="LAFE">
    </div>
    </header> 

    <!--Seleccionador por rubro-->
<section class="rubros">
    <article class="rubro1">
        <button class="button-rubro">PLOMERÍA</button>
    </article>
    <article class="rubro2">
        <button class="button-rubro">ELECTRICIDAD</button>
    </article>
    <article class="rubro3">
        <button class="button-rubro">CARPINTERÍA</button>
    </article>
    <article class="rubro4">
        <button class="button-rubro">CONSTRUCCIÓN</button>
    </article>
</section>
<!--Seleccionador servicios-->
    <section class="services">
            <article class="services1">
                <i class="fas fa-store"></i>
                    <h4>Compra online y recógelo</h4>
                    <p>Sin coste. Ven a recotiralo por la tienda</p>
                    <div class="button-servicies"> <a href="#">+ Info</a></div>
                </div>
            </article>

            <article class="services2">
                <i class="fas fa-truck"></i>
                    <h4>En casa a partir de 48 horas</h4>
                    <p>Accesorios a domicilio desde $1000, muebles desde $10999</p>
                    <div class="button-servicies"> <a href="#">+ Info</a></div>
                </div>
            </article>

            <article class="services3">
                <i class="fas fa-truck"></i>
                    <h4>Estado de Nuestras tiendas</h4>
                    <p>Chequeá las restricciones de mobilidad de nuestras tiendas</p>
                    <div class="button-servicies"> <a href="#">+ Info</a></div>
                </div>
            </article>

            <article class="services4">
                <i class="fas fa-phone-alt"></i>
                    <h4>Venta Telefónica</h4>
                    <p>Si necesitas asesoramiento para realizar tu compra, llámanos</p>
                    <div class="button-servicies"> <a href="#">+ Info</a></div>
                </div>
            </article>
        </div>
    </section>
<!--Seleccionador OFERTAS-->
    <section class="ofertas">
        <h2> Prdouctos en Oferta</h2>
        <div class="productos-nacionales">
            <article class="nacional1">
                <button class="button-oferta">INGLETADORA</button>
            </article>
           
            <article class="nacional2">
                <button class="button-oferta">AMOLADORA ANGULAR</button>
            </article>
           
            <article class="nacional3">
                <button class="button-oferta">MARTILLO NEUMATICO</button>
            </article>
           
            <article class="nacional4">
                <button class="button-oferta">LLAVE TRIFÁSICA</button>
            </article>
        </div>
    </section>
   
   
    <!--FOOTER-->
    <footer>
    <div class="footer">   
        <div class="pie">
            <span class="contacto">Consulte el precio de nuestros productos, de lunes a sábados de 9 a 21hs y los domingos de 10 a 19hs al 0800-111-3322 o al <a href="">mail info@lafe.com.ar</a></span>
            <div class="rrss">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="Legales">
            <p> (Ley 4435 GCBA). Copyright© Lafe - Herramientas 2002, Buenos Aires, Argentina.</p>
        </div>
    </div> 
    </footer>
</body>