<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!--ENLACE A FONTAWESOME-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        
            <!--ENLACE A GOOGLE FONT-->
            <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap" rel="stylesheet">
        
            <!--ENLACE A HOJA DE ESTILO-->
            <link rel="stylesheet" href="css/normalize.css">
            <link rel="stylesheet" href="css/styles.css">
            
        <title>游댢 LAFE - Herramientas 游댢</title>
    </head>

<body>
       <!--COMIENZO HEADER-->
       
       <%- include('partials/header') %>
    <!--Seleccionador por rubro-->
<section class="rubros">
    <article class="rubro1" href="#">
        <button class="button-rubro"><a href="#">PLOMERIA</a></button>
    </article>
    <article class="rubro2">
        <button class="button-rubro"><a href="#">ELECTRICIDAD</a></button>
    </article>
    <article class="rubro3">
        <button class="button-rubro"><a href="#">CARPINTER칈A</a></button>
    </article>
    <article class="rubro4">
        <button class="button-rubro"><a href="#">CONSTRUCCI칍N</a></button>
    </article>
</section>
<!--Seleccionador servicios-->
    <section class="services">
            <article class="services1">
                <i class="fas fa-store"></i>
                    <h4>Compra online y rec칩gelo</h4>
                    <p>Sin coste. Ven a recotiralo por la tienda</p>
                    <div class="button-servicies"> <a href="#">+ Info</a></div>
                </div>
            </article>

            <article class="services2">
                <i class="fas fa-truck"></i>
                    <h4>En casa a partir de 48 horas</h4>
                    <p>Accesorios a domicilio desde $1000, muebles desde $10999</p>
                    <div class="button-servicies"> <a href="#">+ Info</a></div>
                </div>
            </article>

            <article class="services3">
                <i class="fas fa-truck"></i>
                    <h4>Estado de Nuestras tiendas</h4>
                    <p>Cheque치 las restricciones de mobilidad de nuestras tiendas</p>
                    <div class="button-servicies"> <a href="#">+ Info</a></div>
                </div>
            </article>

            <article class="services4">
                <i class="fas fa-phone-alt"></i>
                    <h4>Venta Telef칩nica</h4>
                    <p>Si necesitas asesoramiento para realizar tu compra, ll치manos</p>
                    <div class="button-servicies"> <a href="#">+ Info</a></div>
                </div>
            </article>
        </div>
    </section>
<!--Seleccionador OFERTAS-->
    <h2 class="title-ofertas"> Productos en Oferta</h2>
    <section class="ofertas">
            <div class="productos-nacionales">
            <article class="nacional1">
                <button class="button-oferta">INGLETADORA</button>
            </article>
           
            <article class="nacional2">
                <button class="button-oferta" href="./productDetail">AMOLADORA ANGULAR</button>
            </article>
           
            <article class="nacional3">
                <button class="button-oferta">MARTILLO NEUMATICO</button>
            </article>
           
            <article class="nacional4">
                <button class="button-oferta">LLAVE TRIF츼SICA</button>
            </article>
        </div>
    </section>
   
   
    <!--FOOTER-->
    <%- include('partials/footer') %>
</body>