<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!--ENLACE A FONTAWESOME-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        
            <!--ENLACE A GOOGLE FONT-->
            <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap" rel="stylesheet">
        
            <!--ENLACE A HOJA DE ESTILO-->
            <link rel="stylesheet" href="css/styles-cart.css">
            <link rel="stylesheet" href="css/normalize.css"> 
    <title>游댢 Detalle del producto 游댢</title>
</head>
<body>
   <!--COMIENZO HEADER-->
   <%- include('partials/header') %>

    <!--DETALLE DE PRODUCTO-->
        <div class="container_product">
            <div class="product-img"></div>
        <div class="container-detail">
            <div class="detail-product">
                <h3 class="title-product">Amoladora angular inal치mbrica</h3>
                <h3 class="price-product">$12.300</h3>
                <p class="description-product">La amoladora angular inal치mbrica Einhell Axxio resulta muy 칰til a la hora de trabajar en el taller, el hogar y el garaje. Potente, inal치mbrica y c칩moda: estas son las caracter칤sticas a las que se otorg칩 una gran importancia durante su dise침o. La amoladora angular forma parte de la familia Power X-Change, por lo que la bater칤a se puede utilizar en todos los dispositivos aut칩nomos de la serie. La bater칤a Plus de 2,6 Ah y las bater칤as m치s potentes de la serie ofrecen unos resultados 칩ptimos. El motor sin escobillas ofrece m치s potencia y, por lo tanto, una vida 칰til m치s prolongada. Arranque suave Softstart y protecci칩n contra rearranque para una mayor seguridad del usuario. Su compacto dise침o con empu침adura ergon칩mica Softgrip y empu침adura auxiliar antivibraciones hacen que resulte agradable trabajar con ella. El desacoplamiento del motor y la transmisi칩n garantizan un funcionamiento suave y la protecci칩n del disco, provisto de ajuste r치pido, permite un trabajo flexible. La empu침adura auxiliar se puede montar con flexibilidad en dos posiciones. La amoladora angular inal치mbrica est치 equipada con protecci칩n contra sobrecargas y su durabilidad est치 garantizada gracias a una robusta caja de engranajes de aluminio. La entrega no incluye bater칤a ni cargador. Del mismo modo, un disco de corte adecuado (cuyo di치metro es de 125 mm) se vende por separado.</p>
            </div>
            <div class="container-buttons">
                <i class="fas fa-share-alt"></i>
                <i class="far fa-heart"></i>
                <button class="compare"><a href="#">comparar</a></button>
                <button class="add-cart"><a href="#">agregar al carrito</a></button>
            </div>
        </div>
        </div>
 <!--FOOTER-->
 <%- include('partials/footer') %>
</body>
</html>