<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!--ENLACE A FONTAWESOME-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        
            <!--ENLACE A GOOGLE FONT-->
            <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap" rel="stylesheet">
        
            <!--ENLACE A HOJA DE ESTILO-->
            <link rel="stylesheet" href="css/styles-cart.css">
            <link rel="stylesheet" href="css/normalize.css">

        
    <title>🔧 Carrito de compras 🔧</title>
    </head>
<body>


<!--HEADER-->
<%- include('partials/header') %>
<!-- COMIENZO DE CARRITO--> 

<section class="container-cart">
    <div class="cart-article1">
        <img class="img-article1" src="" alt="">
        <div class="description-article1">
            <p class="title-article1">Amoladora Angular</p>
            <p class="price-article1"> $16.450</p>
        </div>
    </div>

    <div class="cart-article2">
        <img class="img-article2" src="" alt="">
        <div class="description-article2">
            <p class="title-article2">Martillo neumatico</p>
            <p class="price-article2"> $20.450</p>
        </div>
    </div>

    <div class="cart-article3">
        <img class="img-article3" src="" alt="">
        <div class="description-article3">
            <p class="title-article3">Ingletadora</p>
            <p class="price-article3"> $25.800</p>
        </div>
    </div>

    <div class="cart-article4">
        <img class="img-article4" src="" alt="">
        <div class="description-article4">
            <p class="title-article4">Llave Trifasica</p>
            <p class="price-article4"> $16.450</p>
        </div>
    </div>
</section>
<!-- FIN DE CARRITO-->

 <!--FOOTER-->
 <%- include('partials/footer') %>
</body>
</html>