<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--ENLACE A FONTAWESOME-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
        <!--ENLACE A GOOGLE FONT-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap" rel="stylesheet">
    
        <!--ENLACE A HOJA DE ESTILO-->
        <link rel="stylesheet" href="../../css/styles-form.css">
        <!-- <link rel="stylesheet" href="css/normalize.css"> -->
        
    <title>Registro y login</title>
</head>
<body>
    <!--HEADER PRINCIPAL-->
    <header>
        <div class="container">
            <img src="/site/public/img/img2.jpg" alt="">
            <div class="logo"></div>
        </div>
    </header>

    <!--FORMULARIO-->
    <div class="container-form">
    <!--LOGIN-->
        <form class="formulario-login" action="/login/enter" method="POST" >
            <div class="control-form">
                <label></label>
                <input type="text" name="nombre" class="control" placeholder="Usuario o Mail">
            </div>

            <div class="control-form">
                <label></label>
                <input type="text" name="nombre" class="control" placeholder="contraseña">
            </div>
                 <button class="control-button" type="submit"> Ingresar </button>
        </form> 
    </div>
    
</body>
</html>